<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diff._file_carry.Mapper.FileMapper">

	<select id="CodeList" resultType="HashMap" parameterType="HashMap">
		select code_detail_id, code_detail_name 
		  from code_info
		 where code_id = #{code_id}
		   and code_lang_type = #{code_lang_type}
		 order by cast(code_id as integer), cast(code_detail_id as integer)
	</select>
	
	<select id="FileList" resultType="HashMap" parameterType="HashMap">
		select x.file_id file_id, x.ip, x.file_name, x.file_size, x.file_conversation_size, x.file_expiration_period
			 , (select a.code_detail_value from code_info a where a.code_id = '0001' and a.code_lang_type = #{code_lang_type} and a.code_detail_id  = x.file_expiration_period) file_expiration_period_hour
			 , x.file_create_datetime, x.file_expiration_datetime, x.file_system_create_datetime, x.file_system_expiration_datetime
		  from file_info x
		 where x.ip = #{IP}
		   and x.file_delete_yn = 'N'
		   and x.file_system_expiration_datetime > left(cast(now() as varchar), 19)
		 order by x.file_system_create_datetime asc
	</select>
	
	<select id="CodeValue" resultType="String" parameterType="HashMap">
		select code_detail_value
		  from code_info
		 where code_id = #{code_id}
		   and code_detail_id = #{code_detail_id}
		   and code_lang_type = #{code_lang_type}
	</select>
	
	<insert id="FileUpload" parameterType="HashMap">
		insert into file_info
			(ip, file_name, file_size, file_conversation_size, file_expiration_period, file_create_datetime, file_system_create_datetime, file_expiration_datetime, file_system_expiration_datetime)
		values 
			(#{IP}, #{FileName}, #{FileSize}, #{FileConversationSize}, #{FilePeriodType}, #{datetime}, #{system_datetime}, #{expiration_datetime}, #{system_expiration_datetime})
	</insert>
	
	<update id="FileDelete" parameterType="HashMap">
		update file_info
		   set file_delete_yn = 'Y'
		 where file_id = #{file_id}
	</update>
</mapper>